.menu {
  display: flex;
  justify-content: space-between; 
  align-items: center;    
  padding: 15px 30px;             
  background-color: black;      
  width: 100%;
  box-sizing: border-box;
}

.icone-mais-opcoes {
    display: flex;
    align-items: center;
}

.btn-mais-opcoes {
    background: none;    
    border: none;
    cursor: pointer;
    padding: 12px;        
    display: flex;
    justify-content: center;
    align-items: center;
}

.tres-tracinhos {
    position: relative;
    width: 28px;          
    height: 4px;          
    background-color: #ffffff; 
    border-radius: 4px;   
}

.tres-tracinhos::before,
.tres-tracinhos::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    left: 0;
}

.tres-tracinhos::before {
    top: -9px; 
}

.tres-tracinhos::after {
    top: 9px;  
}
